:root{
	--rojo:#E50914;
	--fondo: #141414;
   }
   *{
	   margin: 0;
	   padding: 0;
	   box-sizing: border-box;
   }
	body{
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
   
   
   
	}
   .container{
	width: 90%;
	margin: auto;
   
   
   
   }
   header{
   
   padding: 30px 0;
   
   
   
   
   }
   
   header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
   
   }
   
   header .logo{
   
	   font-family: 'Bebas Neue', cursive;
	   font-weight: normal;
	   color: var(--rojo);
   
   
   }
   header nav a{
	color: #aaa;
	text-decoration: none;
	margin-right: 20px;
   
   
   
   
   }
   header nav a:hover,
   header nav a.activo{
	   
	  color: #fff;
	  
	  
	  
	  }
   
   
   
   
   
   
   
   @media screen and (max-width: 800px) {
	   header .logotipo {
		   margin-bottom: 10px;
		   font-size: 30px;
	   }
   
	   header .container {
		   flex-direction: column;
		   text-align: center;
	   }
   
	   .poster {
		   font-size: 14px;
	   }
   
	   .poster .descripcion {
		   max-width: 100%;
	   }
	   
	   .peliculas-recomendadas .contenedor-carousel {
		   overflow: visible;
	   }
   
	   .peliculas-recomendadas .contenedor-carousel .carousel {
		   display: grid;
		   grid-template-columns: repeat(3, 1fr);
		   gap: 20px;
	   }
   
	   .peliculas-recomendadas .indicadores,
	   .peliculas-recomendadas .flecha-izquierda,
	   .peliculas-recomendadas .flecha-derecha {
		   display: none;
	   }
   }
   
 

